body{
    background-image:url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1720396800&semt=sph) ;
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    color: rgb(236, 25, 25);
}
.box1{
    border: 2px solid rgb(211, 143, 42);
    margin: 10% 5% 10% 5%;
    padding: 3% 3% 3% 30%;
    /* background-color: rgb(216, 204, 226); */

}